In [1]:
# considerations: 
# medicinal marijuana was legalized in CO statewide in 2010 and took effect in 2011
# recreational and medicinal was was legalized and went into effect in 2014

In [2]:
# Dependencies and Setup

%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import csv

# Hide warning messages in notebook

import warnings
warnings.filterwarnings('ignore')

In [3]:
# name and read files

file1 = os.path.join('data', 'CrimeRates.csv')

crime_rates = pd.read_csv(file1)
# crime_rates_population = pd.read_csv(file2)

crime_rates

,Years,Crime,CO Number,CO Rate,US Number,US Rate,Which,Group Year
0,1980,Homicide,NaN,6.9,NaN,NaN,Violent,1980-1984
1,1981,Homicide,NaN,8.1,NaN,NaN,Violent,1980-1984
2,1982,Homicide,NaN,6.0,NaN,NaN,Violent,1980-1984
3,1983,Homicide,NaN,6.4,NaN,NaN,Violent,1980-1984
4,1984,Homicide,NaN,5.8,NaN,NaN,Violent,1980-1984
5,1985,Homicide,NaN,5.8,NaN,NaN,Violent,1985-1989
6,1986,Homicide,NaN,7.0,NaN,NaN,Violent,1985-1989
7,1987,Homicide,NaN,5.8,NaN,NaN,Violent,1985-1989
8,1988,Homicide,NaN,5.7,NaN,NaN,Violent,1985-1989
9,1989,Homicide,NaN,4.4,NaN,NaN,Violent,1985-1989
10,1990,Homicide,NaN,4.2,NaN,NaN,Violent,1990-1994
11,1991,Homicide,NaN,5.9,NaN,NaN,Violent,1990-1994
12,1992,Homicide,NaN,6.2,NaN,NaN,Violent,1990-1994
13,1993,Homicide,NaN,5.8,NaN,NaN,Violent,1990-1994
14,1994,Homicide,NaN,5.4,NaN,NaN,Violent,1990-1994
15,1995,Homicide,NaN,5.8,21606.0,8.2,Violent,1995-1999
16,1996,Homicide,NaN,4.7,19645.0,7.4,Violent,1995-1999
17,1997,Homicide,176.0,4.5,18208.0,6.8,Violent,1995-1999
18,1998,Homicide,178.0,4.4,16974.0,6.3,Violent,1995-1999
19,1999,Homicide,187.0,4.5,15522.0,5.7,Violent,1995-1999
20,2000,Homicide,132.0,3.0,15586.0,5.5,Violent,2000-2004
21,2001,Homicide,143.0,3.2,16037.0,5.6,Violent,2000-2004
22,2002,Homicide,174.0,3.8,16229.0,5.6,Violent,2000-2004
23,2003,Homicide,168.0,3.7,16528.0,5.7,Violent,2000-2004
24,2004,Homicide,199.0,4.3,16148.0,5.5,Violent,2000-2004
25,2005,Homicide,170.0,3.6,16740.0,5.6,Violent,2005-2009
26,2006,Homicide,157.0,3.3,17309.0,5.8,Violent,2005-2009
27,2007,Homicide,150.0,3.1,17128.0,5.7,Violent,2005-2009
28,2008,Homicide,151.0,3.0,16465.0,5.4,Violent,2005-2009
29,2009,Homicide,169.0,3.3,15399.0,5.0,Violent,2005-2009
...,...,...,...,...,...,...,...,...
229,1987,Motor Vehicle Theft,NaN,436.3,NaN,NaN,Property,1985-1989
230,1988,Motor Vehicle Theft,NaN,422.0,NaN,NaN,Property,1985-1989
231,1989,Motor Vehicle Theft,NaN,452.9,NaN,NaN,Property,1985-1989
232,1990,Motor Vehicle Theft,NaN,428.4,NaN,NaN,Property,1990-1994
233,1991,Motor Vehicle Theft,NaN,426.4,NaN,NaN,Property,1990-1994
234,1992,Motor Vehicle Theft,NaN,509.0,NaN,NaN,Property,1990-1994
235,1993,Motor Vehicle Theft,NaN,450.3,NaN,NaN,Property,1990-1994
236,1994,Motor Vehicle Theft,NaN,392.9,NaN,NaN,Property,1990-1994
237,1995,Motor Vehicle Theft,NaN,387.5,1472441.0,560.3,Property,1995-1999
238,1996,Motor Vehicle Theft,NaN,397.8,1394238.0,525.7,Property,1995-1999
239,1997,Motor Vehicle Theft,16314.0,419.2,1354189.0,505.7,Property,1995-1999
240,1998,Motor Vehicle Theft,15687.0,390.7,1242781.0,459.9,Property,1995-1999
241,1999,Motor Vehicle Theft,14633.0,353.4,1152075.0,422.5,Property,1995-1999
242,2000,Motor Vehicle Theft,16132.0,375.0,1160002.0,412.2,Property,2000-2004
243,2001,Motor Vehicle Theft,19373.0,438.5,1228391.0,430.5,Property,2000-2004
244,2002,Motor Vehicle Theft,21679.0,480.5,1246646.0,432.9,Property,2000-2004
245,2003,Motor Vehicle Theft,20176.0,440.5,1261226.0,433.7,Property,2000-2004
246,2004,Motor Vehicle Theft,22971.0,494.9,1237851.0,421.5,Property,2000-2004
247,2005,Motor Vehicle Theft,25315.0,536.3,1235859.0,416.8,Property,2005-2009
248,2006,Motor Vehicle Theft,20305.0,422.6,1198245.0,400.2,Property,2005-2009
249,2007,Motor Vehicle Theft,16353.0,333.2,1100472.0,364.9,Property,2005-2009
250,2008,Motor Vehicle Theft,12740.0,254.3,959059.0,315.4,Property,2005-2009
251,2009,Motor Vehicle Theft,12182.0,239.7,795652.0,259.2,Property,2005-2009
252,2010,Motor Vehicle Theft,11114.0,215.4,739565.0,239.1,Property,2010-2014
253,2011,Motor Vehicle Theft,10938.0,213.7,716508.0,230.0,Property,2010-2014
254,2012,Motor Vehicle Theft,11947.0,230.2,723186.0,230.4,Property,2010-2014
255,2013,Motor Vehicle Theft,12396.0,235.1,700288.0,221.3,Property,2010-2014
256,2014,Motor Vehicle Theft,12478.0,233.2,686803.0,215.4,Property,2010-2014
257,2015,Motor Vehicle Theft,15932.0,292.7,707758.0,220.2,Property,2015-2019
258,2016,Motor Vehicle Theft,19430.0,349.8,NaN,NaN,Property,2015-2019

In [4]:
crime_rates.columns

Index(['Years', 'Crime', 'CO Number', 'CO Rate', 'US Number', 'US Rate',
       'Which', 'Group Year'],
      dtype='object')

In [5]:
crime_rates["Crime"].unique()

array(['Homicide', 'Rape', 'Robbery', 'Aggravated Assault', 'Burgary',
       'Larceny', 'Motor Vehicle Theft'], dtype=object)

In [6]:
crime_rates["Which"].unique()

array(['Violent', 'Property'], dtype=object)

In [7]:
reduced_df = crime_rates[["Years","Crime", "Which", "CO Rate", "US Rate"]]
reduced_df.head()

reduced_df["Crime"].unique()

plt.savefig('homicide.png')

homicide_df=reduced_df.loc[(reduced_df["Crime"]=="Homicide") & (reduced_df["Years"]>2006) & (reduced_df["Years"]<=2015), :]
homicide_df

#to pick specific columns, type ["column name"], where the colon is for each and then you can rid the top line

    Years     Crime    Which  CO Rate  US Rate
27   2007  Homicide  Violent      3.1      5.7
28   2008  Homicide  Violent      3.0      5.4
29   2009  Homicide  Violent      3.3      5.0
30   2010  Homicide  Violent      2.5      4.8
31   2011  Homicide  Violent      3.0      4.7
32   2012  Homicide  Violent      3.1      4.7
33   2013  Homicide  Violent      3.3      4.5
34   2014  Homicide  Violent      2.8      4.4
35   2015  Homicide  Violent      3.2      4.9

In [8]:
reduced_df = crime_rates[["Years","Crime", "Which", "CO Rate", "US Rate"]]
reduced_df.head()

reduced_df["Crime"].unique()

plt.savefig('rape.png')

rape_df=reduced_df.loc[(reduced_df["Crime"]=="Rape") & (reduced_df["Years"]>2006) & (reduced_df["Years"]<=2015), :]
rape_df

    Years Crime    Which  CO Rate  US Rate
64   2007  Rape  Violent     39.7     30.6
65   2008  Rape  Violent     40.4     29.8
66   2009  Rape  Violent     41.3     29.1
67   2010  Rape  Violent     42.0     27.7
68   2011  Rape  Violent     43.7     27.0
69   2012  Rape  Violent     39.6     27.1
70   2013  Rape  Violent     55.1     35.9
71   2014  Rape  Violent     55.3     37.0
72   2015  Rape  Violent     60.2     38.6

In [9]:
reduced_df = crime_rates[["Years","Crime", "Which", "CO Rate", "US Rate"]]
reduced_df.head()

reduced_df["Crime"].unique()

plt.savefig('robbery.png')

robbery_df=reduced_df.loc[(reduced_df["Crime"]=="Robbery") & (reduced_df["Years"]>2006) & (reduced_df["Years"]<=2015), :]
robbery_df

     Years    Crime    Which  CO Rate  US Rate
101   2007  Robbery  Violent     69.2    148.3
102   2008  Robbery  Violent     63.6    145.9
103   2009  Robbery  Violent     65.1    133.1
104   2010  Robbery  Violent     60.7    119.3
105   2011  Robbery  Violent     64.7    113.9
106   2012  Robbery  Violent     64.5    113.1
107   2013  Robbery  Violent     59.7    109.0
108   2014  Robbery  Violent     56.7    101.3
109   2015  Robbery  Violent     61.0    101.9

In [10]:
reduced_df = crime_rates[["Years","Crime", "Which", "CO Rate", "US Rate"]]
reduced_df.head()

reduced_df["Crime"].unique()

plt.savefig('aggravated_assault.png')

aggravated_assault_df=reduced_df.loc[(reduced_df["Crime"]=="Aggravated Assault") & (reduced_df["Years"]>2006) & (reduced_df["Years"]<=2015), :]
aggravated_assault_df

     Years               Crime    Which  CO Rate  US Rate
138   2007  Aggravated Assault  Violent    230.8    287.2
139   2008  Aggravated Assault  Violent    213.5    277.5
140   2009  Aggravated Assault  Violent    217.0    264.7
141   2010  Aggravated Assault  Violent    218.0    252.8
142   2011  Aggravated Assault  Violent    206.5    241.5
143   2012  Aggravated Assault  Violent    195.7    242.8
144   2013  Aggravated Assault  Violent    186.5    229.6
145   2014  Aggravated Assault  Violent    190.9    229.2
146   2015  Aggravated Assault  Violent    196.3    237.8

In [11]:
reduced_df = crime_rates[["Years","Crime", "Which", "CO Rate", "US Rate"]]
reduced_df.head()

reduced_df["Crime"].unique()

plt.savefig('burgary.png')

burgary_df=reduced_df.loc[(reduced_df["Crime"]=="Burgary") & (reduced_df["Years"]>2006) & (reduced_df["Years"]<=2015), :]
burgary_df

     Years    Crime     Which  CO Rate  US Rate
175   2007  Burgary  Property    572.9    726.1
176   2008  Burgary  Property    530.9    733.0
177   2009  Burgary  Property    504.6    717.7
178   2010  Burgary  Property    499.4    701.0
179   2011  Burgary  Property    499.6    701.3
180   2012  Burgary  Property    494.8    672.2
181   2013  Burgary  Property    469.7    610.5
182   2014  Burgary  Property    432.4    537.2
183   2015  Burgary  Property    428.7    491.4

In [14]:
reduced_df = crime_rates[["Years","Crime", "Which", "CO Rate", "US Rate"]]
reduced_df.head()

reduced_df["Crime"].unique()

larceny_df=reduced_df.loc[(reduced_df["Crime"]=="Larceny") & (reduced_df["Years"]>2006) & (reduced_df["Years"]<=2015), :]

plt.savefig('larceny.png')

larceny_df

     Years    Crime     Which  CO Rate  US Rate
212   2007  Larceny  Property   1985.5   2185.4
213   2008  Larceny  Property   1853.8   2166.1
214   2009  Larceny  Property   1835.8   2064.5
215   2010  Larceny  Property   1855.4   2005.8
216   2011  Larceny  Property   1861.5   1974.1
217   2012  Larceny  Property   1905.2   1965.4
218   2013  Larceny  Property   1917.5   1901.9
219   2014  Larceny  Property   1837.7   1821.5
220   2015  Larceny  Property   1880.7   1775.4

In [13]:
reduced_df = crime_rates[["Years","Crime", "Which", "CO Rate", "US Rate"]]
reduced_df.head()

reduced_df["Crime"].unique()

motor_vehicle_theft_df=reduced_df.loc[(reduced_df["Crime"]=="Motor Vehicle Theft") & (reduced_df["Years"]>2006) & (reduced_df["Years"]<=2015), :]

plt.savefig('motor_vehicle_theft.png')

motor_vehicle_theft_df

     Years                Crime     Which  CO Rate  US Rate
249   2007  Motor Vehicle Theft  Property    333.2    364.9
250   2008  Motor Vehicle Theft  Property    254.3    315.4
251   2009  Motor Vehicle Theft  Property    239.7    259.2
252   2010  Motor Vehicle Theft  Property    215.4    239.1
253   2011  Motor Vehicle Theft  Property    213.7    230.0
254   2012  Motor Vehicle Theft  Property    230.2    230.4
255   2013  Motor Vehicle Theft  Property    235.1    221.3
256   2014  Motor Vehicle Theft  Property    233.2    215.4
257   2015  Motor Vehicle Theft  Property    292.7    220.2